.postImage {
	width: 100%;
	max-width: 1200px;
	max-height: 70vh;
	border-radius: 8px;
}
@media (max-width: 970px) {
	.postImage {
		border-radius: 8px 8px 0 0;
		max-height: 50vh;
	}
}
.article {
	background-color: var(--white);
	width: 100%;
	max-width: var(--maxContentWidth);
	border-radius: 0 0 8px 8px;
}
.tagContainer {
	display: flex;
	flex-wrap: wrap;
}
.timeInfo {
	display: inline-block;
}
