.postImage {
	width: 100%;
	max-width: var(--maxContentWidth);
	max-height: 50vh;
	border-radius: 8px 8px 0 0;
	box-shadow: 0 1px 2px var(--black-75);
}
@media (max-width: 970px) {
	.postImage {
		max-height: 40vh;
	}
}
.article {
	background-color: var(--white);
	width: 100%;
	max-width: var(--maxContentWidth);
	border-radius: 0 0 8px 8px;
	box-shadow: 0 1px 2px var(--black-75);
}
.tagContainer {
	display: flex;
	flex-wrap: wrap;
}
.timeInfo {
	display: inline-block;
}
