.aboutBox {
	max-width: 600px;
	background-color: var(--black-75);
	border-radius: 6px;
	color: var(--white);
}
.socialBox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.socialIcon {
	display: inline-block;
	color: var(--gray);
	transition: 0.2s;
}
.socialIcon:hover {
	color: var(--light-blue);
}
.socialIcon:first-child {
	margin-left: 0 !important;
}
.blue {
	color: var(--blue);
}
.purple {
	color: var(--purple);
}
