.backgroundImage,
.fader {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
}
.backgroundImage {
	z-index: -2;
	transition: 1s;
}
.backgroundImageFade {
	opacity: 0;
}
.fader {
	background: var(--full-black);
	z-index: -1;
	opacity: 1;
	transition: 1s;
}
.transparentFader {
	opacity: 0.3;
}
