.backgroundImage,
.fader {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
}
.backgroundImage {
  z-index: -2;
}
.fader {
  background: linear-gradient(transparent, var(--full-black));
  z-index: -1;
}
