.navBar {
	width: 100%;
	background-color: var(--black-50);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.navContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: var(--maxWidth);
	margin: 0 auto;
}
.navLink {
	font-weight: 700;
	color: var(--gray);
	transition: 0.2s;
}
.navLink:hover {
	color: var(--light-blue);
	text-decoration: none;
}
.navLink:last-child {
	margin-right: 0 !important;
}
.socialIcon {
	display: inline-block;
	color: var(--gray);
	transition: 0.2s;
}
.socialIcon:hover {
	color: var(--light-blue);
}
.socialIcon:first-child {
	margin-left: 0 !important;
}
