.postBox {
	flex-grow: 0;
	flex-shrink: 1;
	min-width: 310px;
	width: 100%;
	height: max-content;
}
.postHeader {
	position: relative;
	border-radius: 6px 6px 0 0;
}
.postContent {
	background-color: var(--white);
	border-radius: 0 0 6px 6px;
}
.imageContainer {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.image {
	border-radius: 6px 6px 0 0;
	width: 100%;
	height: 100%;
}
.metaContainer {
	position: relative;
	z-index: 1;
}
.language {
	position: absolute;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--black-75);
	border-radius: 50%;
	user-select: none;
	cursor: default;
	top: 0;
	right: 0;
}
.labelsContainer {
	display: flex;
	flex-direction: column;
}
.tagContainer {
	display: flex;
	flex-wrap: wrap;
}
.title a {
	color: var(--black);
}
.timeHolder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.time {
	text-align: center;
	display: block;
}
.hr {
	border: none;
	height: 1px;
	background-color: var(--gray);
	width: 100%;
}
.readButton {
	display: block;
	width: fit-content;
	margin: 0 auto;
	border: 1px solid var(--black);
	border-radius: 6px;
	background-color: transparent;
	color: var(--black);
}
.readButton:hover {
	text-decoration: none;
}
