@import "./styles/vars.css";
@import "./styles/defaults.css";
@import "./styles/animations.css";

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  min-width: 100vw;
}

.gradientText {
  background: linear-gradient(
    320deg,
    var(--color-purple) 20%,
    var(--color-pink) 50%,
    var(--color-orange) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
